@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

.p-color{
	color: #2879FE !important;
}
.p-bg{
	background-color: #2879FE !important;
}
.s-color{
	color: #191919 !important;
}
.dimmed-txt{
	font-size: 14px;
    font-weight: 100;
    line-height: 22px;
    color: #777777;
    opacity: .8;
}
.c-badge{
	background-color: #e1eaf9;
    border-color: #e1eaf9;
    color: #0052cc;
}

body{
	font-family: 'Hind', sans-serif;
	margin: 0;
	padding: 0;
}

.row{
	max-width: 100%;
	margin-left: 0;
	margin-right: 0;
}

.navbar .nav-link{
	font-size: 14px;
	text-transform: uppercase;
	color: #191919;
}

#hero{
	background-image: url('../../images/bg1.png');
	background-position: center;
	background-size: cover;
	height: 91vh;
}

#hero h2{
	font-size: 36px;
    line-height: 70px;
    font-weight: 500;
}

#hero h1{
	font-size: 80px;
    line-height: 80px;
    color: #191919;
    font-weight: 600;
}

#hero p{
	font-size: 15px;
    line-height: 1.1;
    margin-top: 18px;
    opacity: .8;
}

.scroll span{
	background-color: rgba(215, 215, 215, 0.48);
	padding-top: 10px 15px;
	margin: 5px;
	border-radius: 50%; 
	font-size: 1.2rem;
	width: 20px;
	height: 20px;
}

/*//------------------ featured product ----------------//
---------------------------------------------------------*/
#hero .overlay-text{
	padding-top: 100px;
}

.row-head h6{
	font-size: 14px;
}

#featured .badge{
	font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

#featured h1{
	font-size: 30px;
    line-height: 40px;
    font-weight: 500;
    margin-top: 19px;
}

#featured h5, #products h5{
	font-weight: 600;
	font-size: 25px; 
	letter-spacing: 1px;
	margin: 0;
}


/*//------------------ all product ----------------//
---------------------------------------------------*/
#products .category{
	text-transform: uppercase;
	font-size: 12.5px;
	color: #999999;
}

#products .product-name{
	font-size: 15px;
    font-weight: 500;
}

#products .view-all{
	background-color: #f7f8fa;
	border-radius: 250px;
	padding: 10px 25px;
}

#products .product-img{
	height: 255px;
	width: 100%;
	background-size: cover;
	background-position: center;
}



/*//------------------ Gallery ----------------//
-----------------------------------------------*/
#gallery .img-contain{
	background-position: center;
	background-size: cover; 
}

#gallery .gallery-txt{
	padding-top: 30px;
	background: #f3f3f3;
	font-weight: 500;
}



/*//------------------ Reviews ----------------//
-----------------------------------------------*/
#reviews .carousel-inner{
	width: 50%;
	margin: 5px auto;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
	height: 1.5rem;
	width: 1.5rem;
}

#faq .accordion-item{
	color: #ffffff;
	background: rgba(0,0,0,.4);
}



/*//------------------ faq ----------------//
-------------------------------------------*/
#faq{
	background-image: url('../../images/bg2-dark.jpg');
	background-position: center;
	background-size: cover;
}



/*//------------------ footer ----------------//
----------------------------------------------*/
#footer{
	background: #f7f8fa;
}

#footer .socials ul{
	list-style: none;
	padding: 0;
	width: 50%;
	margin: 0 auto;
}

#footer .socials a{
	opacity: .5;
	width: 25%;
	color: #191919;
}




input[type="text"]:focus,button:focus, .btn:focus, .accordion-button:focus{
	border-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 255, 255, 0.01);
    outline: 0 none;
}




/*//------------------ Responsiveness ----------------//
------------------------------------------------------*/
@media (min-width: 320px) and (max-width: 576px) {
	#hero h1{
		font-size: 40px;
		line-height: 40px;
	}
	#hero .overlay-text{
		padding-top: 50px;
	}
	#hero{
		max-height: 57vh;
	}
	#hero h2{
		font-size: 20px;
		line-height: 20px;
	}
	#hero p{
		font-size: 13px;
		width: 80%;
		margin: 15px auto;
	}
	.row{
		margin-left: 0;
		margin-right: 0;
	}
	#reviews .carousel-inner{
		width: 70%;
	}
	#gallery .row{
		min-height: 100vh;
	}
}