@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");


:root {
	--primary-color: #2879FE;
	--secondary-color: #191919;
	--primary-background: #2879FE;
}

.my-large {
	margin: 100px 0;
}

.my-small {
	margin: 50px 0;
}

.py-large {
	padding: 100px 0;
}

.py-small {
	padding: 50px 0;
}




/*
-------------------------------
	*** BASE ***	
-------------------------------
*/
.p-color{
	color:  var(--primary-color);
}
.p-bg{
	background-color:  var(--primary-background);
}
.s-color{
	color: var(--seconday-color);
}
.dimmed-txt{
	font-size: 14px;
    font-weight: 100;
    line-height: 22px;
    color: #777777;
    opacity: .8;
}
.c-badge{
	background-color: #e1eaf9;
    border-color: #e1eaf9;
    color: #0052cc;
}

body{
	font-family: 'Hind', sans-serif;
	margin: 0;
	padding: 0;
}

.row{
	max-width: 100%;
	margin-left: 0;
	margin-right: 0;
}

.navbar {
	background-color: #fff;
}

.navbar .navbar-brand{
	margin-right: 40px;
}

.navbar .nav-link{
	font-size: 12.5px;
	text-transform: uppercase;
	color: #737373;
	font-weight: bold;
	padding: 10px 20px !important;
	transition: all .3s ease-in-out;
}

.navbar .nav-link:hover{
	color: #000;
}

.navbar .nav-item{
	position: relative;
}

.navbar .nav-item .active{
	color: #000;
}

.navbar .nav-item .active:after{
	content: "";
	position: absolute;
	width: 80%;
	height: 1px;
	background-color: #000;
	left: 10%;
	bottom: 10%;
}

#hero{
	background-image: url('../../images/bg3.jpg');
	background-position: center;
	background-size: cover;
	min-height: 90vh;
}

#hero h2{
	font-size: 36px;
    line-height: 70px;
    font-weight: 500;
}

#hero h1{
	font-size: 80px;
    line-height: 80px;
    color: #191919;
    font-weight: 600;
}

.scroll{
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	position: absolute;
	left: 0;
	right: 0;
	cursor: pointer;
	bottom: 60px;
	width: 200px;
	margin: auto;
	display: block;
	padding-bottom: 10px;
}

.scroll a{
	text-decoration: none;
	color: #808080;
}

.scroll i{
	font-size: 20px;
}



/*
-------------------------------
	*** FEATURED PRODUCT ***	
-------------------------------
*/
.row-head h6{
	font-size: 14px;
}

#featured .featured-img {
	background-image: url('../../images/product.jpg');
	background-size: cover;
	background-position: center;
	min-height: 100%;
}

#featured .badge{
	font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

#featured h1{
	font-size: 30px;
    line-height: 40px;
    font-weight: 500;
    margin-top: 19px;
}

#featured h5, #products h5{
	font-weight: 600;
	font-size: 25px; 
	letter-spacing: 1px;
	margin: 0;
}




/*
-------------------------------
	*** ALL PRODUCTS ***	
-------------------------------
*/
#products .i1 {
	background-image: url('../../images/product.jpg');
}
#products .i2 {
	background-image: url('../../images/product1.jpg');
}
#products .i3 {
	background-image: url('../../images/product.jpg');
}
#products .i4 {
	background-image: url('../../images/product1.jpg');
}

#products .category{
	text-transform: uppercase;
	font-size: 12.5px;
	color: #999999;
}

#products .product-name{
	font-size: 15px;
    font-weight: 500;
}

#products .view-all{
	background-color: #f7f8fa;
	border-radius: 250px;
	padding: 10px 25px;
}

#products .product-img{
	height: 255px;
	width: 100%;
	background-size: cover;
	background-position: center;
}

#products a {
	text-decoration: none;
}




/*
-------------------------------
	*** GALLERY SECTION ***	
-------------------------------
*/
#gallery .img-contain{
	background-position: center;
	background-size: cover; 
}

#gallery .gallery-txt{
	padding-top: 30px;
	background: #f3f3f3;
	font-weight: 500;
}




/*
-------------------------------
	*** REVIEWS SECTION ***	
-------------------------------
*/
#reviews .carousel-inner{
	width: 50%;
	margin: 5px auto;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
	height: 1.5rem;
	width: 1.5rem;
}

#faq .accordion-item{
	color: #ffffff;
	background: rgba(0,0,0,.4);
}



/*
-------------------------------
	*** FAQs ***	
-------------------------------
*/
#faq{
	background-image: url('../../images/bg2-dark.jpg');
	background-position: center;
	background-size: cover;
}

#faq .accordion-button:not(.collapsed) {
	background-color: transparent;
	color: #fff;
}




/*
-------------------------------
	*** FOOTER ***	
-------------------------------
*/
#footer{
	background: #f7f8fa;
}

#footer .socials ul{
	list-style: none;
	padding: 0;
	width: 50%;
	margin: 0 auto;
}

#footer .socials a{
	opacity: .5;
	width: 25%;
	color: #191919;
}




input[type="text"]:focus,button:focus, .btn:focus, .accordion-button:focus,.navbar-toggler:focus{
	border-color: rgba(255, 255, 255, 0.001);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.0015), 0 0 8px rgba(255, 255, 255, 0.001);
    outline: 0 none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #b99e64;
}




/*
-------------------------------
	*** RESPONSIVENESS ***	
-------------------------------
*/
@media (min-width: 300px) and (max-width: 576px) {
	.py-large {
		padding: 30px 0;
	}
	.py-small{
		padding: 15px 0;
	}
	.my-large{
		margin: 60px 0;
	}
	.my-small{
		margin: 30px 0;
	}
	#hero h1{
		font-size: 350%;
		line-height: 90%;
	}
	#hero .overlay-text{
		padding-top: 10%;
	}
	#hero{
		min-height: 60vh;
	}
	#hero h2{
		font-size: 15px;
		line-height: 20px;
	}
	#hero p{
		font-size: 13px;
		width: 50%;
		margin: 7px auto;
	}
	#hero .scroll{
		margin-bottom: 20%;
	}
	.row{
		margin-left: 0;
		margin-right: 0;
	}
	#reviews .carousel-inner{
		width: 70%;
	}
	#gallery .row{
		min-height: 100vh;
	}
	.scroll{
		font-size: 13px;
		margin-top: 25px;
	}
	#featured .featured-img{
		height: 400px !important;
	}
	.f1{
		max-height: 100% !important;
	}
	.f2{
		margin-top: 1rem !important;
	}

	.gallery-txt{
		padding-top: 15px !important;
		font-size: 15px;
	}
}



@media (min-width: 577px){
	#featured .featured-img{
		height: 500px;
	}
}